{
    "daemon": {
        "listenport": 8003,
        "consoleport": 8031
    },
    "tokens": ["123"],
    "interfaces": {
        "rest": {},
        "console": {},
        "ftp": {
            "authurl": "https://www.mysite.com/ftpauth.php",
            "port": 21,
            "host": "127.0.0.1",
            "use_ssl": true
        }
    },
    "servers": [
        {
            "name": "Test Server",
            "user": "My_FTP_User",
            "overide_command_line": "",
            "path": "/home/My_FTP_User",
            "build": {
                "install_dir" => "/mnt/MC/CraftBukkit/",
                "disk": {
                    "hard": 10240,
                    "soft": 9216
                },
                "cpu": 0
            },
            "variables": {
                "-Djline.terminal=": "jline.UnsupportedTerminal",
                "-Xmx": "512M",
                "-jar": "minecraft_server.jar"
            },
            "gameport": "25565",
            "gamehost": "127.0.0.1",
            "plugin": "minecraft",
            "autoon": false
        }
    ]
}
